/* button {
    font-size: large;
    background-color: blue;
    padding: 15px 30px;
    width: 100px;
    cursor: pointer;
    color: white;
    
}
.reset-Button{
    width: 200px;
    background-color: rgb(160, 26, 26);
    color: white;
    padding-top: 15px;
}

.count {
    padding: 15px 30px;
    font-size: 50px;
}

.Counter{
    padding: 10px;
}
 */
